@import url('https://fonts.googleapis.com/css?family=Staatliches');

header {
    display: black;
    border-radius: 15px;
    height: 120px;
    margin: 10px;
    background: black;
}

.container {
    position: relative;
}

.logo {
    color: white;
    font-size: 35px;
    padding-top: 10px;
    font-family: 'Staatliches', cursive;
}

nav {
    position: absolute;
    right: 0px;
    top: 38px;
}

li {
    font-size: 35px;
    display: inline;
    padding: 7px;
    font-family: 'Staatliches', cursive;
}

a {
    color: white;
    transition: 0.5s;
}

a:hover{
    text-decoration: none;
    transform: scale(1.2);
}